<nav class="items-center justify-end hidden md:flex md:flex-1 lg:w-0">
  <!-- prettier-ignore -->
  {{#each navLinks }} 
  {{#if hasSubmenu }}
  <button
    type="button"
    @click="{{title}}MenuOpen = !{{title}}MenuOpen; moreMenuOpen = false"
    x-state:on="Item active"
    x-state:off="Item inactive"
    :class="{ 'bg-blue-600 text-gray-50': {{title}}MenuOpen, 'text-gray-50': !{{title}}MenuOpen }"
    class="inline-flex items-center p-4 space-x-2 text-base font-medium leading-6 transition duration-150 ease-in-out text-gray-50 group hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
  >
    <span>{{title}}</span>
    <svg
      x-state:on="Item active"
      x-state:off="Item inactive"
      class="w-5 h-5 text-gray-100 transition duration-150 ease-in-out group-hover:text-gray-200 group-focus:text-gray-200"
      x-bind:class="{ 'text-gray-200': {{title}}MenuOpen, 'text-gray-100': !{{title}}MenuOpen }"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  {{else}}
  <a
    href="{{ url }}"
    class="px-6 py-4 text-sm font-medium leading-6 uppercase whitespace-no-wrap text-gray-50 hover:bg-blue-600 focus:outline-none focus:text-gray-100"
  >
    {{ title }}
  </a>
  <!-- prettier-ignore -->
  {{/if}} 
  {{/each }}
</nav>
