<div class="md:hidden">
  <button
    @click="mobileMenuOpen = true"
    type="button"
    class="inline-flex items-center justify-center m-2 text-gray-200 transition duration-150 ease-in-out hover:bg-opacity-75 hover:text-gray-50 hover:bg-blue-800 focus:outline-none focus:bg-blue-800 focus:text-gray-50"
  >
    <svg
      class="w-6 h-6 m-2"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      ></path>
    </svg>
  </button>
</div>
