<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.4.1/dist/alpine.min.js"
      defer
    ></script>
  </head>

  <body>
    <!-- prettier-ignore -->
    {{> main/header }}
    <main>
      <div
        class="flex justify-between overflow-hidden"
        style="min-height: calc(100vh - 56px);"
      >
        <!-- prettier-ignore -->
        {{{ body }}} 
        {{> main/sidebar }}
      </div>
    </main>
    {{> main/footer }}
  </body>
</html>
